:root{
	--pink: #FB358C;
	--cyan: #1CFAD5;
	--violet: #7958C3;
	--blue: #06B3F5;
	--light: #eee;
	--dark: #092342;
	--darkt: #092342dd;
	--gradient: linear-gradient(to right, var(--pink), var(--cyan), var(--violet), var(--blue));
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

html {
  text-align: center;
}