.mobile, .tablet, .desktop {
    display: none;
}

@media(max-width: 1000px){
    .mobile {
        display: initial;
    }
}

@media(min-width: 1000px){
    .desktop {
        display: initial;
    }    
}