:root{
	--pink: #FB358C;
	--cyan: #1CFAD5;
	--violet: #7958C3;
	--blue: #06B3F5;
	--light: #eee;
	--dark: #092342;
	--darkt: #092342dd;
	--gradient: linear-gradient(to right, var(--pink), var(--cyan), var(--violet), var(--blue));
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('static/fonts/Montserrat/Montserrat-Italic.ttf') format("truetype");    
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");    
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}

html {
    font-family: 'Montserrat';
}
